# Astro Build & Cache
dist/
.astro/

# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# IDE and System Files
.idea/
.vscode/
.DS_Store
