---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { getSlug } from '../utils/blogUtils';

const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) => b.data.date - a.data.date);

const activePosts = sortedPosts.filter(post => !post.data.archived);
const archivedPosts = sortedPosts.filter(post => post.data.archived);
---

<Layout title="Morgan Brown's Blog" description="Some writings.">
  <div class="home-container">
    <div>
      <h1>
        This is a blog by
        <a href="https://mhgbrown.is">
          Morgan Brown
        </a>
      </h1>

      <ul class="post-list">
        {activePosts.map(post => (
          <li>
            <a href={`/posts/${getSlug(post.id)}/`}>
              {post.data.title}
            </a>
          </li>
        ))}
      </ul>
    </div>

    {archivedPosts.length > 0 && (
      <div>
        <p class="archive-title">
          Older, more embarrassing posts
        </p>

        <ul class="post-list">
          {archivedPosts.map(post => (
            <li>
              <a href={`/posts/${getSlug(post.id)}/`}>
                {post.data.title}
              </a>
            </li>
          ))}
        </ul>
      </div>
    )}
  </div>
</Layout>
